.container {
    margin: 0px;
    margin-top: auto;
    width: 100%;
    display: flex;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    bottom: 0;
    border-top: 5px solid;
    border-image: linear-gradient(to right, transparent, red, transparent) 5;
    color: azure;
    background-color: rgba(37, 47, 81, 1);
  }
  
  .column {
    flex: 1;
    text-align: center;
    margin: 10px;
  }
  .social{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
  }
